<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.konkuk.walku">

    <application
        android:name="com.konkuk.walku.config.ApplicationClass"
        android:icon="@mipmap/ic_main"
        android:roundIcon="@mipmap/ic_main_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:targetApi="s">
        <activity
            android:name=".src.splash.SplashActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".src.main.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>